@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap");

:root {
  --ingredient-color: #3282f7;
  --appareils-color: #68d9a4;
  --ustensils-color: #ed6454;
  --background-color-description: #e7e7e7;
  --background-color-blank-img: #c7bebe;
}

:host,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin: 20px 100px;
  padding: 0;
}

header {
  display: flex;
  margin: 30px auto 20px auto;
  max-width: 300px;
}

img {
  width: 100%;
}

li {
  padding: 10px;
}
article {
  width: 366px;
}
span {
  font-size: 12px;
}

/* barResearch */
.research {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-description);
  padding: 15px 10px;
  margin-bottom: 20px;
}

/* input barResearch */
.researcher {
  width: 95%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  opacity: 0.25;
  border: none;
  background-color: var(--background-color-description);
  outline: none;
}

/* section set filter*/
.filters {
  display: flex;
  margin-bottom: 20px;
  column-gap: 20px;
  font-family: "Lato";
  margin-top: 20px;
}

/* div ingredients */
.ingredients,
.appliance,
.ustensils {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: var(--ingredient-color);
  color: #ffffff;
  border-color: var(--ingredient-color);
}

/* div appliance */
.appliance {
  background-color: var(--appareils-color);
}

/* div ustensils */
.ustensils {
  background-color: var(--ustensils-color);
}

/* array of all recipes */
.recipes-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* field image */
.blank-image {
  height: 180px;
  background-color: var(--background-color-blank-img);
}

/* title card of recipe */
.title-recipe h2 {
  width: 220px;
  font-size: 1.1rem;
}

/* div global with title and timer */
.ingredient-time {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  background-color: var(--background-color-description);
}

/* div time  */
.time-recipe {
  display: flex;
  gap: 10px;
}

/* div global ingredient, commentory  */
.globale-ingredient-description {
  display: flex;
  height: 140px;
  padding: 16px 16px 30px;
  background-color: var(--background-color-description);
  gap: 8px;
  justify-content: space-between;
}

/* div for ingredients  */
.ingredients-recipe {
  width: 190px;
  overflow: hidden;
}

/* span name ingredients  */
.name-ingredient {
  font-size: 12px;
  font-weight: 700;
}

/* span ingredients quantity  */
.ingredient-quantity {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* p description-commentary  */
.description-commentary {
  font-size: 0.8rem;
  width: 170px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  max-height: 99px;
}

/* list ingredient, appliance, ustensils  */
.liste-ingredients,
.liste-appliance,
.liste-ustensils {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  cursor: pointer;
}

/*  hover on list ingredient, appliance, ustensils  */
.liste-ingredients li:hover,
.liste-appliance li:hover,
.liste-ustensils li:hover {
  opacity: 0.5;
}

/*  input  ingredient, appliance, ustensils  */
.ingredients,
.input-appliance,
.input-ustensils {
  background-color: var(--ingredient-color);
  border: none;
  color: #ffffff;
  outline: none;
}

/*  color of input and div   appliance  */
.appliance,
.input-appliance {
  background-color: var(--appareils-color);
}

/*  color of input and div  ustensils  */
.ustensils,
.input-ustensils {
  background-color: var(--ustensils-color);
}

/*  color of placeholder   */
.ingredients::placeholder,
.input-appliance::placeholder,
.input-ustensils::placeholder {
  color: #ffffff;
}

/* display for ingredient-hidden, appliance-hidden, ustensils-hidden   */
.ingredient-hidden,
.appliance-hidden,
.ustensils-hidden {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: var(--ingredient-color);
  color: #ffffff;
}

/*  color of div appliance-hidden   */
.appliance-hidden {
  background-color: var(--appareils-color);
}

/*  color of div ustensils-hidden   */
.ustensils-hidden {
  background-color: var(--ustensils-color);
}

/*  color of magnify  */
.loupe {
  color: #000000;
}
.arrow {
  cursor: pointer;
}

/*   ul tag */
.tag {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.2rem;
}

/*  generality display ul tag-ingredient, tag-appliance, tag-ustensils*/
.tag-ingredient,
.tag-appliance,
.tag-ustensils {
  display: flex;
  background-color: var(--ingredient-color);
  padding: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

/*  color  ul tag-appliance*/
.tag-appliance {
  background-color: var(--appareils-color);
}

/*  color  ul tag-ustensils*/
.tag-ustensils {
  background-color: var(--ustensils-color);
}

/*  cross close tag
*/
.tag-ingredient i,
.tag-appliance i,
.tag-ustensils i {
  cursor: pointer;
  padding-left: 12px;
  padding-top: 3px;
}

/*  global div include placeholder and arrow in filter elements*/
.div-ingredient-hidden,
.div-appliance-hidden,
.div-ustensils-hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
